                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    list-style: none;
                }
                
                body {
                    max-width: auto;
                    background: url(https://static.vecteezy.com/ti/vetor-gratis/t1/2832200-cinza-claro-abstrato-desfocado-fundo-gradiente-abstrato-ilustracao-com-cores-desfocadas-design-inteligente-para-seus-apps-vetor.jpg);
                    background-size: cover;
                }
                
                #photo {
                    width: 150px;
                    height: 150px;
                    border: 3px solid rgb(97, 94, 94);
                    border-radius: 50%;
                }
                
                .info {
                    border: 3px solid black;
                    border-top-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding-right: 30px;
                    background: white;
                }
                
                .bio {
                    display: flex;
                    align-items: center;
                    padding: 30px 30px;
                }
                
                h1 {
                    padding-left: 30px;
                    font-size: 50px;
                    text-decoration: underline;
                    color: rgb(26, 24, 24);
                }
                
                h2 {
                    text-align: center;
                }
                
                p {
                    text-align: center;
                }
                
                ul {
                    border-radius: 30px;
                    padding: 10px;
                }
                
                img {
                    border-radius: 10px;
                    border: 1px solid black;
                    transition: opacity 0.3s ease-in-out;
                }
                
                img:hover {
                    opacity: 0.5;
                    transition: opacity 0.3s ease-in-out;
                }
                
                h2 {
                    width: 350px;
                    margin: auto;
                    border: 3px solid black;
                    background: black;
                    color: white;
                    border-top-left-radius: 50px;
                    border-top-right-radius: 50px;
                }
                
                .content {
                    border-top-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-left: 30px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    background: black;
                    color: white;
                    padding: 30px;
                }